<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>XBanking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="/atm.css" />
</head>
<body>
    <h1>XBank ATM</h1>
    {{{body}}}
    <div></div>
    <footer>
    <p>&copy; 2024 XBank. All rights reserved.</p>
</footer>
</body>
</html>