<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>XBanking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
<nav>
    <ul class="main_nav_ul">
        <img src="/images/logo.jpg" alt="XBank Logo" class="logo">
        <li><a href="/" class="active">Главная страница</a></li>
        <li><a href="/add_client">Добавить клиента</a></li>
        <li><a href="/deposit">Открыть депозит</a></li>
        <li><a href="/credit">Открыть кредит</a></li>
        <li><a href="/accounts">Открытые счета</a></li>
        <li><a href="/clients">Клиенты</a></li>
<!--        <li><a href="/transactions">Транзакции</a></li>-->
        <li><a href="/time_machine">Машина времени</a></li>
    </ul>
</nav>
{{{body}}}
<div></div>
<footer>
    <p>&copy; 2024 XBank. All rights reserved.</p>
</footer>
</body>
</html>