<h2 style="text-align: center">Форма заключения договора депозита</h2>
<form action="/deposit" method="POST" class="max-width">
    <div class="form-group">
        <label for="contractNumber" class="required">Номер пользователя</label>
        <input type="text" id="contractNumber" name="contractNumber" required>
    </div>
    <div class="form-group">
        <label for="depositType" class="required">Тип вклада</label>
        <select id="depositType" name="depositType" required>
            <option value="">Выберите тип вклада</option>
            <option value="revocable">Отзывной</option>
            <option value="irrevocable">Безотзывной</option>
        </select>
    </div>
    <div class="form-group">
        <label for="currencyType" class="required">Валюта вклада</label>
        <select id="currencyType" name="currencyType" required>
            <option value="">Выберите валюту вклада</option>
            <option value="BYN">Беларусский рубль (BYN)</option>
            <option value="RUB">Российский рубль рубль (RUB)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="depositAmount" class="required">Сумма вклада</label>
        <input type="number" id="depositAmount" name="depositAmount" min="200" max="200000" required>
    </div>
    <div class="form-group">
        <label for="interestTime" class="required">Срок вклада и процент по вкладу</label>
        <select id="interestTime" name="interestTime" required disabled>
            <option value="">Выберите срок вклада и процент по нему</option>
        </select>
    </div>
    <input type="hidden" name="interestRate" id="interestRate" value="0">
    <div class="form-group">
        <label for="interest">Предполагаемый доход</label>
        <div id="interest" name="interest">
            Нет
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Заключить договор" class="btn">
    </div>
<!--    <div class="form-group">-->
<!--        <label for="interestCapitalization" class="required">Капитализация процентов</label>-->
<!--        <input type="radio" id="yes" name="interestCapitalization" value="y" required>-->
<!--        <label for="yes">Да</label>-->
<!--        <input type="radio" id="no" name="interestCapitalization" value="n">-->
<!--        <label for="no">Нет</label>-->
<!--    </div>-->
</form>
{{#if (ifdef error)}}
    <div id="notification-panel">
        {{#if (not error) }}
            <h4 style="color: green">Deposit success :)</h4>
        {{else}}
            <h4 style="color: red">Deposit failure :(</h4>
        {{/if}}
    </div>
{{/if}}
<script src="notification.js"></script>
<script>
    const depositTypeSelect = document.getElementById('depositType');
    const currencyTypeSelect = document.getElementById('currencyType');
    const interestTimeSelect = document.getElementById('interestTime');
    const interestRateSelect = document.getElementById('interestRate');
    const depositAmountInput = document.getElementById('depositAmount');
    const interestDiv = document.getElementById('interest');

    depositTypeSelect.addEventListener('change', toggleInterest);
    currencyTypeSelect.addEventListener('change', toggleInterest);

    interestTimeSelect.addEventListener('change', changedInterest);
    depositAmountInput.addEventListener('input', changedInterest);

    const revocableOptionsBYN = [
        { rate: 3, value:  3 * 30, rate: 3, label: '3% годовых на 90 дней' },
        { rate: 4.1, value:  5 * 30, label: '4,1% годовых на 150 дней' },
        { rate: 5, value:  7 * 30, label: '5% годовых на 210 дней' },
        { rate: 5, value:  9 * 30, label: '5% годовых на 270 дней' },
        { rate: 10, value:  365, label: '10% годовых на 365 дней' }
    ];

    const irrevocableOptionsBYN = [
        { rate: 8.5 , value: 2 * 30, label: '8,5% годовых на 60 дней' },
        { rate: 10.8, value: 3 * 30, label: '10,8% годовых на 90 дней' },
        { rate: 11.3, value: 5 * 30, label: '11,3% годовых на 150 дней' },
        { rate: 11.8, value: 7 * 30, label: '11.8% годовых на 210 дней' },
        { rate: 12.0, value: 9 * 30, label: '12% годовых на 270 дней' },
        { rate: 13.5, value: 390, label: '13,5% годовых на 390 дней' }
    ];

    const irrevocableOptionsRUB = [
        { rate: 3, value: 3 * 30, label: '3% годовых на 90 дней' },
        { rate: 4, value: 7 * 30, label: '4% годовых на 210 дней' },
        { rate: 5, value: 390, label: '5% годовых на 390 дней' },
        { rate: 5, value: 720, label: '5% годовых на 720 дней' }
    ];

    function toggleInterest() {
        const depositType = depositTypeSelect.value;
        const currencyType = currencyTypeSelect.value;
        const enableInterestTime = (depositType && currencyType);

        interestTimeSelect.disabled = !enableInterestTime;

        let options = []
        if (depositType === 'revocable' && currencyType === 'BYN') {
            options = revocableOptionsBYN;
        } else if (depositType === 'irrevocable' && currencyType === 'BYN') {
            options = irrevocableOptionsBYN;
        } else if (depositType === 'irrevocable' && currencyType === 'RUB') {
            options = irrevocableOptionsRUB;
        }
        // Удалить все текущие опции
        interestTimeSelect.innerHTML = '<option value="">Выберите срок вклада и процент по нему</option>';

        // Добавить новые опции
        options.forEach(option => {
            const optionElement = document.createElement('option');
            optionElement.value = option.value;
            optionElement.textContent = option.label;
            optionElement.setAttribute('data-rate', option.rate)
            interestTimeSelect.appendChild(optionElement);
        });
        changedInterest();
    }

    function changedInterest() {
        const selectedOption = interestTimeSelect.options[interestTimeSelect.selectedIndex];
        const interestRate = parseFloat(selectedOption.getAttribute('data-rate'));
        const interestTime = parseFloat(interestTimeSelect.value);
        const depositAmountValue = parseFloat(depositAmountInput.value);
        const currencyType = currencyTypeSelect.value;
        
        if (interestRate && interestTime && depositAmountValue && currencyType &&
                depositAmountValue >= 200 && depositAmountValue <= 200000) {
            interestDiv.innerHTML = `${(interestRate / 365 * interestTime * depositAmountValue * 0.01).toFixed(2)} ${currencyType}`
            interestRateSelect.value = interestRate
        } else {
            interestDiv.innerHTML = 'Нет';
            interestRateSelect.value = 0
        }
    }
</script>