<div class="reg_container">
    <section>
        <div class="reg_bo_info">
            <h2>Добро пожаловать в XBank!</h2>
            <img src="images/logo.jpg" style="width: 200px" alt="XBank Logo">
            <p>Мы предоставляем широкий спектр банковских услуг.</p>
            <p>Выберите один из пунктов навигации, чтобы начать использовать наши сервисы.</p>
        </div>
    </section>
</div>