body {
    background: #eff0f3;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif; /* Change to the desired font */
    justify-content: space-between;
    flex: 1;
}
html {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* main container */
.container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    /* it is flex max-width */
    max-width: 60rem;
    width: 100%;
}
.flex_spread {
    /* spread container */
    flex: 1 1 auto;
}
.card {
    background-color: white;
    border-radius: 25px;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 10px 5px 5px cadetblue;
    font-family: cursive;
    display: flex;
    flex-direction: column;
}
.box {
    isolation: isolate;
    background: white;
    align-items: center;
    justify-content: center;
    box-shadow: inset 2px 2px 20px rgba(0.0, 0.5, 0.5, 0.1);
}

.messages_grid {
    grid-template-columns: 4fr 6fr;
    grid-template-rows: max-content auto max-content;
    display: grid;
    justify-items: stretch;
    border-radius: 10px;
    grid-gap: 1px;
    outline: 1px solid cadetblue;
    background-color: cadetblue;

    min-height: 0;
    flex: 1 1 0;
}
.card .messaging {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card .messaging > :first-child {
    margin-top: auto
}
.card .new_message {
    margin-top: auto;
}
.card .message {
    max-width: 60%;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    box-shadow: 5px 2px 2px cadetblue;
}
.card .message_in {
    margin-right: auto;
    margin-left: 10px;
    background-color: whitesmoke;
}
.card .message_out {
    margin-left: auto;
    margin-right: 10px;
    background-color: lightblue;
}
.card .message .attachments {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.card .message .attachment {
    width: 50%;
    outline: black solid 1px;
    object-fit: cover;
}
.card .message .attachment:first-child {
    width: 100%
}
.card .message .attachment:nth-child(n + 2) { /*last-child:nth-child(even)*/
    height: 100px
}
.card .message .attachment:nth-child(even):last-child {
    width: 100%;
}
.card .message .attachment:nth-child(n + 4) {
    width: 50%
}

.card .user_list {
    overflow-y: auto;
}
.user_list .user {
    font-size: larger;
    border-bottom: 1px black solid;
}
.user_list .user:hover {
    color: cadetblue;
}
.user_list .user.active {
    background: whitesmoke;
    color: teal;
    font-style: italic;
}

#message_content {
    resize: none;
    outline: none;
    overflow-y: auto;
}
.message_input_form {
    display: flex;
    align-items: center;
}




.top_left {
    border-top-left-radius: 10px;
}
.top_right {
    border-top-right-radius: 10px;
}
.bottom_left {
    border-bottom-left-radius: 10px;
}
.bottom_right {
    border-bottom-right-radius: 10px;
}
.box.top {
    background: cadetblue;
    color: white;
    font-size: large;
    box-shadow: none;
}


/*
main ul (DUPLICATION)
 */
.main_nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0047ab;
    position: sticky;
    display: flex;
    align-items: center
}

.main_nav_ul li {
    float: left;
}

.main_nav_ul li a {
    display: block;
    color: #EDEDED;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
}

.logo {
    width: 5em; /* Adjust as needed */
    height: auto; /* To maintain aspect ratio */
    margin-right: 20px; /* Adjust spacing */
}

/* Change the link color to #111 (black) on hover */
.main_nav_ul a:hover {
    background-color: #3a80e7;
}
.main_nav_ul .active {
    background-color: #0f67e1;
}
.user_info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.user_card {
    flex-direction: row;
}
.user_image {
    height: 100%;
}
.user_name {
    font-size: xx-large;
    border-bottom: black;
}
.user_role {
    border-radius: 10px;
    padding: 5px;
}

section {
    padding: 20px;
    text-align: center;
}

form {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    overflow: hidden;
}

.form-group label {
    display: block;
    width: 135px;
    margin: auto 10px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="number"],
.form-group select,
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group input[type="checkbox"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-group input[type="checkbox"] {
    flex: 1 1;
}

.form-group select {
    width: 100%;
}

.required::after {
    content: "*";
    color: red;
    margin-left: 2px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px;
    background-color: #0047ab;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #003c8a;
}

.float {
    position: absolute;
    top: 5px; /* Adjust as needed */
    right: 5px; /* Adjust as needed */
    width: auto;
    height: auto;
}
.float.edit {
    top: 55px;
}

.error-message {
    color: red;
    margin-top: 5px;
}

/* Adjust footer position */
footer {
    background-color: #0047ab;
    color: #fff;
    padding: 10px 0px;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 999; /* Ensure footer is on top */
}
.max-width {
    max-width: 600px;
    min-width: 500px;
    padding: 20px;
}
.client-data {
    max-width: 400px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    position: relative;
}

.time-machine {
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    flex-wrap: wrap;
    justify-content: left;
    display: flex;
    flex-direction: column;
}

.clients-data {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
}

.data-row {
    display: flex;
    margin-bottom: 10px;
}

.data-label {
    flex: 1;
    min-width: 120px;
    font-weight: bold;
}

.data-value {
    flex: 2;
}

#notification-panel {
    position: fixed;
    transform: translate(-50%, -50%);
    padding: 10px 50px;
    bottom: 50px;
    left: 50%;
    background-color: #fff; /* Red color */
    text-align: center;
    display: block; /* Initially hidden */
    z-index: 999999;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: opacity 5s ease;
}

.account-details {
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 10px 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}

.row {
    margin-bottom: 10px;
}

.mono {
    font-family: monospace; /* To maintain spacing */
}
